.about{
    max-width: 80rem;
    margin: 0 auto;
}

.about__image{
    grid-column:1/6;
}

.about__image-1{
    grid-column: 1/13;
    grid-row: 1/2;
    padding: 15%;
    background: url(../../assets/about_bg1.png);
    background-position: right;
    background-size: cover;
    background-color: #fff;
    height: 22rem;
    width: 33.2rem;
}

.about__image-1 img{
    width: 50%;
}


.about__image-2{
    grid-column: 1/13;
    grid-row: 2/3;
    background: url(../../assets/about_bg2.png);
    background-position: right;
    background-size: cover;
    background-color: #fff;
    padding: 15%;
    margin-top: 0.3rem;
    height: 22rem;
    width: 33.2rem;
}

.about__image-2 img{
    width: 50%;
    padding-top: 14%;
}

/* button middle */

.about .about-us__button{
    padding: 12px 32px;
    min-height: 64px;
    background: var(--secondary-color);
    border-radius: 32px 0 0 32px;
    border: 0;
    outline: 0;
    color: #fff;
    font-family: var(--plus-jakarta-sans);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
    position: relative;
    grid-row: 2/3;
    grid-column: 1/6;
    height: 1rem;
    z-index: 1;
    width: 14rem;
    top: -2rem;
    left: 19.2rem;
}