.hero{
    margin-top: 0.1vh;
    /* background-color: var(--primary-color); */
    position: relative;
    /* grid-template-rows: repeat(7,1fr); */
    max-width: 80rem;
    margin: 0 auto;
}

.hero .overlay-hero{
    background-color: var(--primary-color);
    grid-column: 1/6;
    grid-row: 1/2;
    height: 100vh;
}

.hero .hero-image{
    grid-column: 1/7;
    grid-row:1/2;
}

.hero-title{
    grid-column: 1/4;
    grid-row:1/2;
}

.hero-title h2{
    font-size: 7rem;
    color: #fff;
    top: 28%;
    left: -1%;
    position: relative;

}

.hero-image img{
    width: 100%;
}

/* right side */

.hero .hero-content-info{
    grid-column: 7/13;
    grid-row: 1/2;
    align-self: center;
}

.hero-content-info h1{
    font-family: var(--playfair-display);
    font-size: 5rem;
    margin-bottom: 3%;
}

.hero-content-info p{
    font-family: var( --plus-jakarta-sans);
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 30px;
}

.hero .hero-content__buttons{
    grid-column: 7/12;
    grid-row: 1/2;
    position: relative;
    bottom: -66%;
    height: 10vh;
    /* justify-self: center; */
}

.hero-content__buttons .button-one{
    grid-column: 1/7;
    margin: 10px;
}

.hero-content__buttons .button-two{
    grid-column: 7/13;
    margin: 10px;
}

.hero-content__buttons .hero-content__order-button{
    padding: 20px;
    border-radius: 36px;
    min-width: 212px;
    outline: none;
    border: none;
    background: var(--secondary-color);
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.hero-content__buttons .hero-content__play-button{
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: var(--black-200);
    font-family: var(--plus-jakarta-sans);
    cursor: pointer;
}

.hero .hero-content__testimonial{
    grid-column: 6/13;
    grid-row: 1/2;
    position: relative;
    top:78%;
    height: 22vh;
    background-color: #fff;
}

.hero-content__testimonial .hero-content__customer {
    grid-column: 2/7;
    align-self: center;
    display: flex;
    align-items: center;
    padding: 0 14px;
}

.hero-content__testimonial .hero-content__review{
    grid-column: 7/13;
    align-self: center;
    display: flex;
    gap: 10%;
    align-items: center;
    padding: 0 20px;
    border-left: 1px solid rgba(2, 2, 2, 0.1);
}

.hero-content__customer h4{
    font-size: 62px;
    font-weight: 400;
    font-family: var(--playfair-display);
}

.hero-content__customer p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    opacity: 0.5;
}

.hero-content__review img{
    width: 3rem;
    height: 3rem;
}

.hero-content__review p{
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    opacity: 0.8;
}

@media only screen and (max-width: 1284px){
    .hero .overlay-hero{
        grid-column: 1/13;
        height: 92%;
    }

    .hero .hero-image{
        grid-column: 1/13;
    }
    .hero-image img{
        width: 100%;
    }
    .hero-title h2{
        top: 41%;
        left: 38%;
        font-size: 13vw;
    }
    .hero .hero-content-info{
        padding-top: 5%;
        grid-column: 2/12;
        grid-row: 2/3;
    }
    .hero .hero-content-info h1{
        font-size: 3rem;
    }

    .hero-content-info p{
        padding: 0;
    }
    .hero .hero-content__buttons{
        grid-row: 3/4;
        position: unset;
        grid-column: 2/8;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 5% 0 5% 0 ;
    }

    .hero .hero-content__testimonial{
        grid-row: 4/5;
        grid-column: 1/13;
        height: 100%;
        padding: 4vh 0 0 0;
        position: unset;
    }

    .hero-content__testimonial .hero-content__customer{
        grid-column:1/11;
        justify-self: center;
        padding-left: 16vw;
    }

    .hero-content__testimonial .hero-content__review{
        grid-column:1/12;
        justify-self: center;
        margin: 3vw;
    }

    .hero-content__customer h4{
        font-size: 7vw;
    }
}